In [2]:
import pandas as pd
import numpy as np

## Loading of scraped data into dataframes

In [4]:
tripadvisor_scraped_df = pd.read_csv('singapore_airlines_reviews_tripadvisor.csv')
skytrax_scraped_df = pd.read_csv('singapore_airlines_reviews_skytrax.csv')

In [10]:
tripadvisor_scraped_df.head()

,Year,Month,Title,Review Text,Rating
0,2024,May,I would give them zero stars!,I’d give zero stars if I could. I always see o...,1.0
1,2024,September,Very Poor service/responce,Zero stars. Very disappointed with Singapore a...,1.0
2,2024,October,Business Class of Singpore Airlines 2024,"Amazing, best service ever. Food is amazing, e...",5.0
3,2024,October,10/10 for how they handled our delayed flight,We had a 4.5 hour delay on our flight from Lon...,5.0
4,2024,October,Premium Economy,The leg room was great but the food was terrib...,3.0

In [9]:
tripadvisor_scraped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1446 entries, 0 to 1445
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         1446 non-null   int64
 1   Month        1446 non-null   object
 2   Title        1446 non-null   object
 3   Review Text  1446 non-null   object
 4   Rating       1446 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 56.6+ KB

In [13]:
skytrax_scraped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1613 entries, 0 to 1612
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         1613 non-null   int64
 1   Month        1613 non-null   int64
 2   Title        1613 non-null   object
 3   Review Text  1613 non-null   object
 4   Rating       1613 non-null   int64
dtypes: int64(3), object(2)
memory usage: 63.1+ KB

### Combine the two dataframes