# Enhancing Airline Service Through Automated Sentiment Analysis of Customer Reviews

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

### Data Preparation

In [4]:
data = pd.read_csv('data.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              23171 non-null  int64
 1   Airline Name            23171 non-null  object
 2   Overall_Rating          23171 non-null  object
 3   Review_Title            23171 non-null  object
 4   Review Date             23171 non-null  object
 5   Verified                23171 non-null  bool
 6   Review                  23171 non-null  object
 7   Aircraft                7129 non-null   object
 8   Type Of Traveller       19433 non-null  object
 9   Seat Type               22075 non-null  object
 10  Route                   19343 non-null  object
 11  Date Flown              19417 non-null  object
 12  Seat Comfort            19016 non-null  float64
 13  Cabin Staff Service     18911 non-null  float64
 14  Food & Beverages        14500 non-null  float64
 15  Ground Service          18378 non-null  float64
 16  Inflight Entertainment  10829 non-null  float64
 17  Wifi & Connectivity     5920 non-null   float64
 18  Value For Money         22105 non-null  float64
 19  Recommended             23171 non-null  object
dtypes: bool(1), float64(7), int64(1), object(11)
memory usage: 3.4+ MB

In [ ]:
# needa remove the missing ones n useless column

### Exploratory Data Analysis

#### Statistical Summary

In [7]:
data.shape

(23171, 20)

In [6]:
print("The unique number of data values are", data.nunique())

The unique number of data values are Unnamed: 0                23171
Airline Name                497
Overall_Rating               10
Review_Title              17219
Review Date                4557
Verified                      2
Review                    23046
Aircraft                   1048
Type Of Traveller             4
Seat Type                     4
Route                     13607
Date Flown                  109
Seat Comfort                  6
Cabin Staff Service           6
Food & Beverages              6
Ground Service                5
Inflight Entertainment        6
Wifi & Connectivity           6
Value For Money               6
Recommended                   2
dtype: int64

In [9]:
data.isnull().sum()

Unnamed: 0                    0
Airline Name                  0
Overall_Rating                0
Review_Title                  0
Review Date                   0
Verified                      0
Review                        0
Aircraft                  16042
Type Of Traveller          3738
Seat Type                  1096
Route                      3828
Date Flown                 3754
Seat Comfort               4155
Cabin Staff Service        4260
Food & Beverages           8671
Ground Service             4793
Inflight Entertainment    12342
Wifi & Connectivity       17251
Value For Money            1066
Recommended                   0
dtype: int64

#### Class Distribution

#### Distribution of Features

#### Correlation Matrix

#### Pairplot of Features